body{
font-family:Arial;
background:#f5f6fa;
padding:30px;
}

.top{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
border:1px solid #ddd;
padding:12px;
text-align:left;
vertical-align:top;
}

th{
background:#273c75;
color:white;
}

.btn{
padding:8px 14px;
background:#273c75;
color:white;
border-radius:5px;
text-decoration:none;
border:none;
cursor:pointer;
display:inline-block;
margin:2px;
}

.hadir{background:#27ae60;}
.izin{background:#f39c12;}
.sakit{background:#c0392b;}
.inval{background:#8e44ad;}

.disabled{
background:#7f8c8d;
cursor:not-allowed;
}

.info{
font-size:13px;
margin-top:5px;
color:#555;
}

.status{
padding:5px 10px;
border-radius:5px;
font-size:12px;
font-weight:bold;
color:white;
display:inline-block;
}

.status-belum{
background:#7f8c8d;
}

.status-normal{
background:#27ae60;
}

.status-ganti{
background:#c0392b;
}

.status-pengganti{
background:#8e44ad;
}

.btn-success{
    background:#27ae60;
}

.btn-purple{
    background:#8e44ad;
}

.btn-orange{
    background:#e67e22;
}
