body {
    font-family: Arial;

    background: #f5f6fa;

    padding: 30px;
}

h2 {
    color: #273c75;
}

table {
    width: 100%;

    border-collapse: collapse;

    background: white;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

th,
td {
    border: 1px solid #ddd;

    padding: 10px;

    text-align: left;
}

th {
    background: #273c75;

    color: white;
}

.btn {
    padding: 8px 14px;

    background: #273c75;

    color: white;

    border-radius: 5px;

    text-decoration: none;
}

.btn:hover {
    opacity: 0.9;
}

.danger {
    background: #e84118;

    color: white;

    text-decoration: none;
}

.hapus {
    background: #e84118;
}

td:last-child {
    min-width: 105px;
}

.badge {
    padding: 4px 8px;

    border-radius: 4px;

    font-size: 12px;

    color: white;
}

.normal {
    background: #27ae60;
}

.ganti {
    background: #e67e22;
}
